extends layout

block content
  h1= title
  p #{user}

  if user
    button 
      a(href="/logout") Log Out 
    button 
      a(href="/message") Create Message
    if !user.membership
      button 
        a(href="/membership") Get Access
    
  else 
    h1 Sign Up or Log In to post a message
    button 
      a(href="/sign-up") Sign Up
    button 
      a(href="/login") Log In
  
  
  for message in messages 
    if user && user.membership
      p #{message}
      h4 #{message.author.username} 
      h2 #{message.title}
      p #{message.text}
      h5 #{message.time}
      if user.admin 
        button
          a(href=`/delete/:${message.id}`) Delete Message
    else
      h2 #{message.title}
      p #{message.text}
  
  