extends layout

block content
  h1 #{title}

  if user
    .user-controls
      button.btn
        a(href="/logout") Log Out 
      button.btn
        a(href="/message") Create Message
      if !user.membership
        button.btn
          a(href="/membership") Get Access
    
  else 
    .user-controls
      h4 Sign Up or Log In to post a message
      button.btn
        a(href="/sign-up") Sign Up
      button.btn
        a(href="/login") Log In
  
  
  for message in messages
    div.message-container
      if user && user.membership
        .message-content
          h4.author #{message.author.username} 
          h2.title #{message.title}
          p.text #{message.text}
          h5.time #{message.time}
          if user.admin 
            button.btn-delete
              a(href=`/message/${message.id}/delete`) Delete Message
      else
        .message-content
          h2.title #{message.title}
          p.text #{message.text}

